{% extends 'base.html' %}

{% block title %}
<title>Waktunya cek stunting</title>
{% endblock %}

{% block content %}
<header>
    <nav>
        <h1>Program Stunting</h1>
        <ul>
            <li><a href="{{ url_for('index') }}">Beranda</a></li>
            <li><a href="{{ url_for('cekStunt') }}">Cek Stunting</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <header>
            <h2>Cek Stunting</h2>
            <p>Masukkan data balita untuk mengetahui apakah mereka berisiko stunting.</p>
        </header>

        <div class="form-container">
            <form method="POST" action="/cekstunt">
                <!-- Nama Lengkap -->
                <label for="nama_lengkap">Nama Lengkap:</label>
                <input type="text" id="nama_lengkap" name="nama_lengkap" required placeholder="Masukkan nama lengkap">
                <br><br>
        
                <!-- Jenis Kelamin -->
                <label for="jenis_kelamin">Jenis Kelamin:</label>
                <select id="jenis_kelamin" name="jenis_kelamin" required>
                    <option value="Laki-laki">Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                </select>
                <br><br>
        
                <!-- Umur dalam Bulan -->
                <label for="umur_bulan">Umur (Bulan):</label>
                <input type="number" id="umur_bulan" name="umur_bulan" required placeholder="Masukkan umur dalam bulan" step="0.01">
                <br><br>
        
                <!-- Tinggi Badan -->
                <label for="tinggi_badan">Tinggi Badan (cm):</label>
                <input type="number"" id="tinggi_badan" name="tinggi_badan" required placeholder="Masukkan tinggi badan dalam cm" step="0.01">
                <br><br>
        
                <!-- Berat Badan -->
                <label for="berat_badan">Berat Badan (kg):</label>
                <input type="number" id="berat_badan" name="berat_badan" required placeholder="Masukkan berat badan dalam kg" step="0.01">
                <br><br>
        
                <!-- Tombol Submit -->
                <button type="submit">Cek Stunting</button>
            </form>
        </div>

        <div id="result" class="result-container">
            <h3>Hasil Cek Stunting</h3>
            <p id="status">Silakan masukkan data untuk cek status stunting.</p>
        </div>
    </section>    
</main>
{% endblock %}